body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15165e;
  color: #fff;
}

::selection {
  background: #fff; 
}
*, *::before, *::after {
  box-sizing: inherit;
}

::-moz-selection { 
  color: orange;
  background: rgb(0, 1, 65);
}

::selection {
  color: orange;
  background: rgb(0, 1, 65);
}

 /* ================================================== */
 /*                     SCROLL BAR                     */
 /* ================================================== */


 body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color:  rgb(15, 18, 221);
  
}

 /* ================================================== */
 /*                    NAV BAR                         */
 /* ================================================== */

 .nav-bar {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(0, 1, 65);
  color: #fff;
  position: fixed;
  top: 100;
  width: 100%;
  transition: 0.4s;
  padding: 10px;
  z-index: 3;
}

.logo {
  max-width: 2%;
  margin: 0 10px;
}

.nav-bar.active {
  background: #000000ec;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul li {
  margin-right: 20px;
}

.nav-bar li {
  display: inline-block;
  line-height: 37px;
  padding: 0px 0px;
  margin: 0px 15px 0px 15px;
}

.nav-bar li:hover {
   cursor: pointer;
 }

.nav-bar li a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 400;
}


 /* ================================================== */
 /*                         HOME                       */
 /* ================================================== */

.home {
  position: relative;
  text-align: left;
  color: #fff;
}

.home-img {
  max-width: 100%;
}

.intro {
  position: absolute;
  top: 5%;
}

.welcome {
  margin: 0px 50px;
}

.welcome h1 {
  font-size: 4em;
  text-shadow: 1px 1px rgba(0, 1, 65, 0.507);
}

.welcome p {
  margin: -30px 0;
  width: 35%;
}

.speech-bubble {
  position: relative;
  display: flex;
  justify-content: center;
  top: 60px;
  right: -52%;
  font-family: 'Courier New', Courier, monospace;
  width: 40%;
  margin: 100px 50px;
  border-radius: 15px;
  background: rgb(0, 1, 65);
  color: rgba(255, 255, 255, 0.842);
  padding: 25px 25px;
  text-align: center;
  font-weight: 800;
  font-size: 1.1em;
}

.speech-bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid rgb(0, 1, 65);
  border-top: 35px solid rgb(0, 1, 65);
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

.speech-bubble span {
  overflow: hidden; 
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.get-started-btn {
  margin: 40px 0;
  background-color: orange;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}

 /* ================================================== */
 /*                       ABOUT                        */
 /* ================================================== */

.main-container {
  position: relative;
  margin: 0 0 25px 100px;
}

.main-container p {
  font-size: 1.2em;
}

.main-container img {
  max-width: 35%;
}

.text {
  line-height: 0.5em;
}

.text span {
  font-weight: bold;
}

.profile-container {
  position: relative;
  display: flex;
  margin-bottom: 500px;
}

.content-div {
  position: absolute;
  top: 20px;
  left: 500px;
  width: 50%;
  line-height: 1em;
}

.content-div h1 {
  position: relative;
  font-size: 7em;
  color:rgb(0, 81, 255);
}

.content-div div {
  position: relative;
  top: -20px;
  line-height: 1.2em;
}

.profile-imgs {
  position: relative;
  width: 100%;
  margin-top: 75px;
}

.profile-pic {
  position: absolute;
  top: -10px;
  left: 100px;
  z-index: 4;
}

.profile-blue {
  position: absolute;
  top: -10px;
  left: 90px;
  z-index: 3;
  transform: rotate(2deg);
  animation: shake 5s;
  animation-iteration-count: infinite;
}

.profile-cyan {
  position: absolute;
  top: -15px;
  left: 105px;
  z-index: 1;
  transform: rotate(-2deg);
  animation: shake 8s;
  animation-iteration-count: infinite;
}

.profile-orange {
  position: absolute;
  top: 3px;
  left: 107px;
  z-index: 2;
  animation: shake 5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


 /* ================================================== */
 /*                       RESUME                       */
 /* ================================================== */


button {
   border: none;
   outline: none;
   margin: 0px 10px 0px 0px;
   padding: 7px;
   color: #FFF;
   cursor: pointer;
 }
 
/* a:link {
  text-decoration: none;
  color: #FFF;
}

a:visited {
  text-decoration: none;
  color:  #FFF;
}

a:hover {
  cursor: pointer;
}

a:active {
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
} */

iframe {
  /* margin-top: 20px; */
  margin-bottom: 50px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
  width: 100%;
  height: 800px;
  } 


 /* ================================================== */
 /*                   MAIN CONTAINER                   */
 /* ================================================== */

 .main-img-1 {
  max-width: 100%;
}

 /* ================================================== */
 /*                     SEARCH BAR                     */
 /* ================================================== */

 .search-bar {
  margin: 10px 10px;
  background: #2f3640;
  border-radius: 40px;
}

.search {
    background: transparent;
    border: none;
    color: white;
}

.search- {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

textarea:focus, input:focus{
  outline: none;
}

 /* ================================================== */
 /*                     SEARCH ERROR                   */
 /* ================================================== */

 .error {
  margin: 50px;
  padding: 0px 0px 100px 0px;
}

