body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15165e;
  color: #fff;
  overflow-x: hidden;
}

::selection {
  background: #fff; 
}
*, *::before, *::after {
  box-sizing: inherit;
}

::-moz-selection { 
  color: orange;
  background: rgb(0, 1, 65);
}

::selection {
  color: orange;
  background: rgb(0, 1, 65);
}

a:link {
  color: #FFF;
}

a:visited {
  color:  #FFF;
}

a:hover {
  cursor: pointer;
}

a:active {
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}

button {
   border: none;
   outline: none;
   margin: 40px 0;
   background-color: orange;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: 5px;
   padding: 7px;
   color: #FFF;
   cursor: pointer;
 }
 
 /* ================================================== */
 /*                     SCROLL BAR                     */
 /* ================================================== */


 body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color:  rgb(15, 18, 221);
}



 /* ================================================== */
 /*                    NAV BAR                         */
 /* ================================================== */

 .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 1, 65);
  color: #fff;
  position: fixed;
  top: 100;
  width: 100%;
  transition: 0.4s;
  padding: 10px;
  z-index: 100;
}

.left {
  display: flex;
}

.right {
  margin-right: 25px;
}

.logo {
  max-width: 20%;
  margin: 0 10px;
}

.nav-bar.active {
  background: #000000ec;
}

ul {
  list-style-type: none;
  margin: 0 0 0 -90px;
  padding: 0px;
}

.nav-bar li {
  display: inline-block;
  line-height: 37px;
  padding: 0px 0px;
  margin: 0px 15px 0px 15px;
}

.nav-bar li:hover {
   cursor: pointer;
 }

.nav-bar li a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 400;
}

.nav-bar li:active {
  border-bottom: 3px solid orange;
}

.mobile-icon {
  display: none;
  @media screen and (max-with: 768px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
}

 /* ================================================== */
 /*                         HOME                       */
 /* ================================================== */

.home {
  /* position: relative;
  text-align: left;
  overflow: hidden;
  color: #fff; */
  /* display: flex;
  text-align: left; */
}

.home-img {
  max-width: 100%;
  height: auto;
}

.intro {
  position: absolute;
  top: 5%;
  font-size: 1vw;
}

@media screen and (max-width: 900px) {
  .intro {
    display: none;
  }
}

.welcome {
  margin: 0px 50px;
}

.welcome h1 {
  font-size: 4em;
  text-shadow: 1px 1px rgba(0, 1, 65, 0.507);
}

.welcome p {
  margin: -30px 0;
  width: 35%;
}

.speech-bubble {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 340px;
  right: -10%;
  font-family: 'Courier New', Courier, monospace;
  width: 40%;
  margin: 100px 50px;
  border-radius: 15px;
  background: rgb(0, 1, 65);
  color: rgba(255, 255, 255, 0.842);
  padding: 25px 25px;
  text-align: center;
  font-weight: 800;
  font-size: 1.1em;
}

@media screen and (max-width: 1250px) {
  .speech-bubble {
    display: none;
  }
}

.speech-bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid rgb(0, 1, 65);
  border-top: 35px solid rgb(0, 1, 65);
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

.speech-bubble span {
  overflow: hidden; 
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@media screen and (max-width: 1000px) {
  .get-started-btn {
    display: none;
  }
}

.container {
  position: relative;
  left: 10%;
}

.container h1 {
  position: relative;
  font-size: 7vw;
  color:rgb(0, 81, 255);
}

.container span {
  font-weight: bold;
}
 /* ================================================== */
 /*                       ABOUT                        */
 /* ================================================== */


.profile-container {
  position: relative;
  display: flex;
  margin-top: 25px;
}

.content-div {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 40%;
  line-height: 1em;
}

.content-div h1 {
  position: relative;
  font-size: 7vw;
  color:rgb(0, 81, 255);
}

.content-div div {
  position: relative;
  top: -20px;
  line-height: 1.2em;
}

.profile-imgs {
  position: relative;
  width: 200%;
  left: 10%;
}

.profile-pic {
  position: absolute;
  max-width: 40%;
  top: -10px;
  left: 7%;
  z-index: 4;
}
 
.profile-blue {
  position: absolute;
  max-width: 40%;
  top: -10px;
  left: 6%;
  z-index: 3;
  transform: rotate(2deg);
  animation: shake 5s;
  animation-iteration-count: infinite;
}

.profile-cyan {
  position: absolute;
  max-width: 40%;
  top: -15px;
  left: 8%;
  z-index: 1;
  transform: rotate(-2deg);
  animation: shake 8s;
  animation-iteration-count: infinite;
}

.profile-orange {
  position: relative;
  max-width: 40%;
  top: 3px;
  left: 8%;
  z-index: 2;
  animation: shake 5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


 /* ================================================== */
 /*                       RESUME                       */
 /* ================================================== */


iframe {
  margin-top: -80px;
  margin-bottom: 50px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
  width: 80%;
  height: 40vw;
} 
/* 
  iframe {
    margin-top: 20px;
    margin-bottom: 30px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    -moz-transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
    -o-transform:rotate(20deg);
    -ms-transform:rotate(20deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
    }  */



 /* ================================================== */
 /*                       Contact                       */
 /* ================================================== */

.container-div {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: space-around;  */
}

.container-form {
  margin-left: 50px;
  justify-content: space-between;
  width: 
}



